
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="public/css/styles.css">
        
    </head>
    <body>
        <header>
            <img src="images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
            <div class="buscador">
                <input type="text" name="buscar" placeholder="Buscar productos, marcas y más">
                <i class="fa fa-search"></i>
            </div>    
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
<body class="bodyregister">
    <main>
        <div class="cajaregister">
        <form action="/" method="GET" class="login-form">
             <div class="control-form">
                 <label for="usuario">Nombre</label>
                 <input type="text" name="usuario">
             </div>
             <div class="control-form">
                <label for="usuario">Apellido</label>
                <input type="text" name="usuario">
            </div>
            <div class="control-form">
                <label for="usuario">email</label>
                <input type="email" name="email">
            </div>
             <div class="control-form">
                 <label for="password">Ingrese su contraseña</label>
                 <input type="password" name="password">
             </div>
             <button type="submit" value="Enviar" class="boton-enviar">Registrarse</button>
        </form>
    </main>
    <footer>
        <div class="footer-icons"><i class="far fa-credit-card"></i></div>
        <h4>Pagá con  tarjeta o en efectivo</h4>
        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre es seguro!</p>
        <div class="footer-icons"><i class="fas fa-gift"></i></div>
        <h4>Envío gratis desde los $ 2.500</h4>
        <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
        <div class="footer-icons"><i class="fas fa-user-shield"></i></div>
        <h4>Seguridad de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre prtegid@.</p>
        <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </footer>
</body>
