
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        
    </head>
    <body>
        <header>
            <img class="logo" src="img/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
            <div class="buscador">
                <input type="text" name="buscar" placeholder="Buscar productos, marcas y más">
                <i class="fa fa-search"></i>
            </div>    
            <!-- <p>Comprá en cuotas y sin tarjeta de crédito</p> -->
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register.html">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login.html"> Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>

        <main>
            <div class="cajaregister">
            <form action="/" method="GET" class="login-form">
                 <div class="control-form">
                     <label for="usuario">Nombre</label>
                     <input type="text" name="usuario">
                 </div>
                 <div class="control-form">
                    <label for="usuario">Apellido</label>
                    <input type="text" name="usuario">
                </div>
                <div class="control-form">
                    <label for="usuario">email</label>
                    <input type="email" name="email">
                </div>
                 <div class="control-form">
                     <label for="password">Ingrese su contraseña</label>
                     <input type="password" name="password">
                 </div>
                 <button type="submit" value="Enviar" class="boton-enviar">Registrarse</button>
            </form>
        </main>

        <footer>
            
            <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
        </footer>
    </body>
</html>
